
/* obstacle */
.obstacle {

    height: 110%;

    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    top: -5%;

}

/* obstacle top and bottom */
.obstacle_top,
.obstacle_bottom {

    width: 100%;

    border: 1px solid black;
    border-radius: 10px;

}
