@media screen and (max-width: 2000px) {

    /* game name wrapper */
    .game_name__wrapper {
        height: 75px;
    }

    .game_name__wrapper,
    #introduction_message {
        bottom: 10px;
    }

    #result_gamer {
        width: 210px;
    }

    /* player */
    #player {

        width: 75px;
        height: 75px;

    }

    .player_fall {
        background-image: url(../../images/player_fall\ \(75x75\).png);
    }

    .player_fly {
        background-image: url(../../images/player_fly\ \(75x75\).png);
    }

    /* obstacles */
    .obstacle {
        width: 95px;
    }

    /* .obstacle_top {
        background-image: url();
    }

    .obstacle_bottom {
        background-image: url();
    } */

    /* counter obstacles */
    #counter_obstacles {
        right: 60px;
    }

}

@media screen and (max-width: 1600px) {

    /* game name wrapper */
    .game_name__wrapper {
        height: 70px;
    }

    .game_name__wrapper,
    #introduction_message {
        bottom: 20px;
    }

    #result_gamer {
        width: 200px;
    }

    /* player */
    #player {

        width: 60px;
        height: 60px;

    }

    .player_fall {
        background-image: url(../../images/player_fall\ \(55x55\).png);
    }

    .player_fly {
        background-image: url(../../images/player_fly\ \(55x55\).png);
    }

    /* obstacles */
    .obstacle {
        width: 80px;
    }

    /* .obstacle_top {
        background-image: url('../../images/obstacle/top_obstacle\ \(80x90\).png');
    }

    .obstacle_bottom {
        background-image: url('../../images/obstacle/bottom_obstacle\ \(80x90\).png');
    } */

    /* counter obstacles */
    #counter_obstacles {
        right: 45px;
    }

}

@media screen and (max-width: 1000px) {

    /* game name wrapper */
    .play_field__wrapper {
        width: 100%;
    }

    .game_name__wrapper {
        height: 65px;
    }

    .game_name__wrapper,
    #introduction_message {
        bottom: 22.5px;
    }

    #result_gamer {
        width: 190px;
    }

    /* player */
    #player {

        width: 60px;
        height: 60px;

    }

    .player_fall {
        background-image: url(../../images/player_fall\ \(75x75\).png);
    }

    .player_fly {
        background-image: url(../../images/player_fly\ \(75x75\).png);
    }

    /* obstacles */
    .obstacle {
        width: 90px;
    }

    /* .obstacle_top {
        background-image: url('../../images/obstacle/top_obstacle\ \(80x90\).png');
    }

    .obstacle_bottom {
        background-image: url('../../images/obstacle/bottom_obstacle\ \(80x90\).png');
    } */

    /* counter obstacles */
    #counter_obstacles {
        right: 40px;
    }

}

@media screen and (max-width: 478px) {

    /* game name wrapper */
    .game_name__wrapper {
        height: 60px;
    }

    .game_name__wrapper,
    #introduction_message {
        bottom: 17.5px;
    }

    #game_field {
        border-radius: 0;
    }

    #result_gamer {
        height: 30px;
        width: 145px;
    }

    /* player */
    #player {

        width: 55px;
        height: 55px;

        border-radius: 8px;

    }

    .player_fall {
        background-image: url(../../images/player_fall\ \(55x55\).png);
    }

    .player_fly {
        background-image: url(../../images/player_fly\ \(55x55\).png);
    }

    /* obstacles */
    .obstacle {
        width: 70px;
    }

    /* .obstacle_top {
        background-image: url('../../images/obstacle/top_obstacle\ \(80x90\).png');
    }

    .obstacle_bottom {
        background-image: url('../../images/obstacle/bottom_obstacle\ \(80x90\).png');
    } */

    /* counter obstacles */
    #counter_obstacles {
        right: 30px;
    }

}