

@media screen and (max-width: 2000px) {

    #countdown {
        font-size: 4em;
    }

}

@media screen and (max-width: 1600px) {

    #countdown {
        font-size: 3.5em;
    }

}

@media screen and (max-width: 1000px) {

    #countdown {
        font-size: 3em;
    }

}
