/* game_over */
#game_over_text {

    margin: 0 auto;
    text-align: center;

    z-index: 3;

}

/* game_over__wrapper  */
.game_over_text__wrapper {

    height: 100px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    position: relative;
    bottom: 40px;

}
