
/* play field */
#play_field {

    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;
    padding: 20px 0;

    background-color: #78C4D1;

    position: relative;

    z-index: -1;

    opacity: 1;

}

/* play field wrapper */
.play_field__wrapper {

    margin: 0 auto;

    height: 100vh;
    width: 100vw;

}

/* js- styles play field */
.js-play_field__clickable {
    cursor: pointer;
}

.js-play_field__process_game,
.js-play_field__prepare_game,
.js-play_field__expection_process_game {
    background-color: white;
}
