
/* game name */
#game_name {

    margin: 5px auto;
    text-align: center;

    z-index: 3;

}

/* game_name__wrapper */
.game_name__wrapper {

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    position: relative;
    bottom: 15px;

}
