/* player */
#player {

    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;

    z-index: 2;

}

/* media */
@media screen and (min-height: 1080px) {

    #player {

        width: 85px;
        height: 85px;

    }

    .player_fall {
        background-image: url(../../../images/player_fall_75x75.png);
    }

    .player_fly {
        background-image: url(../../../images/player_fly_75x75.png);
    }

}

@media screen and (max-height: 1080px) {

    #player {

        width: 75px;
        height: 75px;

    }

    .player_fall {
        background-image: url(../../../images/player_fall_75x75.png);
    }

    .player_fly {
        background-image: url(../../../images/player_fly_75x75.png);
    }

}

@media screen and (max-height: 896px) {

    #player {

        width: 65px;
        height: 65px;

    }

    .player_fall {
        background-image: url(../../../images/player_fall_75x75.png);
    }

    .player_fly {
        background-image: url(../../../images/player_fly_75x75.png);
    }

}

@media screen and (max-height: 768px) {

    #player {

        width: 55px;
        height: 55px;

    }

    .player_fall {
        background-image: url(../../../images/player_fall_55x55.png);
    }

    .player_fly {
        background-image: url(../../../images/player_fly_55x55.png);
    }

}

@media screen and (max-height: 640px) {

    #player {

        width: 50px;
        height: 50px;

    }

    .player_fall {
        background-image: url(../../../images/player_fall_45x45.png);
    }

    .player_fly {
        background-image: url(../../../images/player_fly_45x45.png);
    }

}
