
@media screen and (max-width: 2000px) {

    .game_field__wrapper {
        width: 60vw;
    }

}

@media screen and (max-width: 1000px) {

    .game_field__wrapper {

        width: 100%;
        padding: 15px;

    }

}

@media screen and (max-width: 478px) {

    #game_field {
        border-radius: 0;
    }

    .game_field__wrapper {
        padding: 0;
    }

}
