
#play_field {

    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 20px 0;

    border: 1px solid black;
    border-radius: 20px;

    background-color: #78C4D1;

    position: relative;

    overflow: hidden;

}

.play_field__wrapper {

    margin: 0 auto;

    height: 100vh;

    max-width: 1000px;
    min-width: 310px;

    box-sizing: border-box;
    padding: 20px;

}

.js-play_field__introduction {

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.js-play_field__expection {
    cursor: pointer;
}

.js-play_field__play {

    /* flex-direction: row;
    justify-content: end; */

    background-color: white;

    cursor: pointer;

}
