
/* play field */
#play_field {

    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;
    padding: 20px 0;

    background-color: #78C4D1;

    position: relative;

    -webkit-tap-highlight-color: transparent;

}

/* expection and process game status */
.js-play_field__expection,
.js-play_field__process_game {
    cursor: pointer;
}

/* game author */
#game_author {

    width: 100%;
    text-align: center;

    position: absolute;
    bottom: 20px;

    z-index: 5;

    animation: name duration timing-function delay iteration-count direction fill-mode;

}
