/* styles texts */
.main_title {

    color: black;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    
}
.main_text {

    color: black;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;

}
.counter_obstacles_text {

    color: rgba(0, 0, 0, 0.445);
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;

}
.main_under_title {

    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;

}

/* media texts */
@media screen and (max-width: 2000px) {

    .main_title {
        font-size: 2.75em;
    }
    .main_text {
        font-size: .9em;
    }
    .main_under_title {
        font-size: .75em;
    }
    .counter_obstacles_text {
        font-size: 6.5em;
    }

}

@media screen and (max-width: 1600px) {

    .main_title {
        font-size: 2.55em;
    }
    .main_text {
        font-size: .8em;
    }
    .counter_obstacles_text {
        font-size: 5.5em;
    }

}

@media screen and (max-width: 1370px) {

    .main_title {
        font-size: 2.4em;
    }
    .main_text {
        font-size: .8em;
    }
    .counter_obstacles_text {
        font-size: 5em;
    }

}

@media screen and (max-width: 1000px) {

    .main_title {
        font-size: 2.25em;
    }
    .counter_obstacles_text {
        font-size: 5em;
    }

}

@media screen and (max-width: 768px) {

    .main_text {
        font-size: .8em;
    }

}

@media screen and (max-width: 478px) {

    .main_title {
        font-size: 2.05em;
    }

}