/* suggestion start game */
#suggestion_make_action__wrapper {

    display: flex;

    position: absolute;
    top: 15px;

}

.suggestion_make_action {

    border-radius: 10px;

    background-color: #469baa;

    box-sizing: border-box;

}

.suggestion_make_action img {

    width: 100%;
    height: 100%;

}

/* media texts */
@media screen and (max-width: 2000px) {

    .suggestion_make_action {

        width: 60px;
        height: 60px;
        padding: 10px;

    }

}

@media screen and (max-width: 1600px) {

    .suggestion_make_action {

        width: 50px;
        height: 50px;
        padding: 8px;

    }

}

@media screen and (max-width: 1200px) {

    .suggestion_make_action {

        width: 45px;
        height: 45px;
        padding: 7px;

    }

}

@media screen and (max-width: 768px) {

    .suggestion_make_action {

        width: 40px;
        height: 40px;
        padding: 6px;

    }

}

@media screen and (max-width: 478px) {

    .suggestion_make_action {

        width: 45px;
        height: 45px;
        padding: 7px;

    }

}