/* suggestion start game */
#suggestion_make_action__wrapper {

    display: flex;

    position: absolute;
    top: 15px;

}

.suggestion_make_action {

    display: flex;
    align-items: center;

    height: 55px;
    background-color: #469baa;
    border-radius: 10px;

    box-sizing: border-box;
    padding: 8px;
    margin: 0 5px;

}

.click_arm,
.click_mouse {
    width: 100%;
    height: 100%;
}

/* media texts */
@media screen and (max-width: 2000px) {

    .button_space {
        width: 70px;
    }

}

@media screen and (max-width: 1600px) {

    .button_space {
        width: 60px;
    }

}

@media screen and (max-width: 1200px) {

    .button_space {
        width: 55px;
    }

}

@media screen and (max-width: 768px) {

    .button_space {
        width: 50px;
    }

}

@media screen and (max-width: 478px) {

    .button_space {
        width: 55px;
    }

}