
@media screen and (max-width: 2000px) {

    .player {
        width: 60px;
        height: 60px;
    }

}

@media screen and (max-width: 1600px) {

    .player {
        width: 40px;
        height: 40px;
    }

}

@media screen and (max-width: 1000px) {

    #player {
        width: 30px;
        height: 30px;
    }

}
