body {

    margin: 0px;
    padding: 0px;

    font-size: 18px;

    overflow-x: hidden;
    overflow-y: hidden;

    background-color: #62a2ad;

}


/* id/classes game components */

/* play field */
#play_field {

    width: 100%;
    height: 100%;
    overflow: hidden;

    box-sizing: border-box;
    padding: 20px 0;

    background-color: #78C4D1;

    position: relative;

    z-index: -1;

}

.play_field__wrapper {

    margin: 0 auto;

    height: 100vh;
    width: 100vw;

    box-sizing: border-box;
    padding: 0;

    opacity: 1;

}

.js-play_field__introduction,
.js-play_field__prepare {

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.js-play_field__expection {
    cursor: pointer;
}

.js-play_field__process_game,
.js-play_field__expection_process_game {

    background-color: white;

    cursor: pointer;

}

.js-play_field__game_over {
    
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* player */
#player {

    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;

    z-index: 2;

}



/* id/classes game elements */

/* countdown */
#countdown {

    width: auto;
    height: auto;
    display: inline-block;

    border: none;
    background-color: transparent;

    text-align: right;

    position: absolute;
    right: 40px;

}

/* obstacle counter */
#counter_obstacles {

    width: 160px;
    height: auto;

    border: none;
    background-color: transparent;

    text-align: right;

    position: absolute;

    z-index: 1;

}

/* obstacle */
.obstacle {

    height: 110%;

    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    top: -5%;

}

.obstacle_top,
.obstacle_bottom {

    width: 100%;

    border: 1px solid black;
    border-radius: 10px;

    /* background-repeat: no-repeat; */
    /* background-size:contain; */

}



/* additional game parts */

/* game name */
#game_name {

    margin: 5px auto;
    text-align: center;

    z-index: 3;

}

#game_over {

    margin: 5px auto;
    text-align: center;

    z-index: 3;

}

#result_gamer {

    display: block;
    margin: 10px auto;

    border: 1px solid black;
    border-radius: 8px;

    text-align: center;

    z-index: 1;

}

.game_name__wrapper {

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    position: relative;

}

.game_over__wrapper {

    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

/* introduction message */
#introduction_message {
    
    text-align: center;

    position: relative;

}

/* suggestion start game */
#suggestion_start_game {

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

}

/* arrow to oright */
.arrow_to_right {

    margin-right: 10px;
    display: inline-block;

    width: 25px;
    height: .5px;

    background-color: black;

    position: relative;
    top: 2px;

}

.arrow_to_right::before,
.arrow_to_right::after {

    content: '';
    display: inline-block;

    width: 4px;
    height: .5px;

    background-color: black;

    position: absolute;
    left: 85%;

}

.arrow_to_right::before {

    transform: rotate(45deg);
    bottom: 2px;

}

.arrow_to_right::after {

    transform: rotate(135deg);
    top: 2px;

}

/* game author */
#game_author {

    width: 100%;
    text-align: center;

    position: absolute;
    bottom: 20px;

    z-index: 5;

}

/* buttons game */
.button__start_game {

    margin: 20px auto;
    padding: 10px 30px;
    display: block;

    background-color: white;

    border: 1px solid black;
    border-radius: 10px;

    color: black;

    box-sizing: border-box;

    cursor: pointer;

}


/* circles */
.circle {

    display: inline-block;
    width: 0;
    height: 0;

    border-radius: 50%;

    position: absolute;
    left: 50%;

    z-index: 3;

}



/* windows */
/* .result_window__wrapper {

    position: ;




} */
/* 
#result_window {

    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: #78C4D1;

} */