
/* imports */

/* components == */
@import url('../scripts/components/obstacle/obstacle.css');
@import url('../scripts/components/play field/play_field.css');
@import url('../scripts/components/player/player.css');

/* elements == */

/* texts */
@import url('../scripts/elements/texts/game name/game_name.css');
@import url('../scripts/elements/texts/game over/game_over.css');
@import url('../scripts/elements/texts/introduction message/introduction_message.css');
@import url('../scripts/elements/texts/result gamer/result_gamer.css');
@import url('../scripts/elements/texts/suggestion to start game/suggestion_start_game.css');

/* counters */
@import url('../scripts/elements/counters/counter obstacles/counter_obstacles.css');

/* figures */
@import url('../scripts/elements/figures/circle/circle.css');

/* texts - fonts == */
@import url('./texts/texts.css');


/* body */
body {

    margin: 0px;
    padding: 0px;

    font-size: 18px;

    overflow-x: hidden;
    overflow-y: hidden;

    background-color: #62a2ad;

}