
/* imports ===================================================== */

/* animations -------------------------------------------------- */

/* main */
@import url("./animations/animations.css");

/* elements */
@import url("./animations/elements/circle.css");

/* game components --------------------------------------------- */

/* main */
@import url("./game_components/main/counter_obstacles.css");
@import url("./game_components/main/play_field.css");
@import url("./game_components/main/obstacle.css");
@import url("./game_components/main/player.css");

/* additional */
@import url("./game_components/additional/game_name.css");
@import url("./game_components/additional/introduction_message.css");
@import url("./game_components/additional/result_gamer.css");
@import url("./game_components/additional/suggestion_make_action.css");

/* texts - fonts ----------------------------------------------- */

/* main */
@import url('./texts/texts.css');



/* main ======================================================== */

/* all --------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
}

/* body -------------------------------------------------------- */
body {

    margin: 0px;
    padding: 0px;

    font-size: 18px;

    overflow-x: hidden;
    overflow-y: hidden;

    background-color: #469baa;

}

/* container game ---------------------------------------------- */
.container_game {
    
    margin: 0 auto;

    height: 100vh;
    width: 100vw;

}