body {
    padding: 0px;
    margin: 0px;

    color: black;

    font-size: 18px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;

    overflow-x: hidden;
    overflow-y: hidden;
}



/* id game objects */
#game_field {

    width: 100%;
    height: 100%;
    padding: 20px 0;

    opacity: .5;
    border: 1px solid black;
    border-radius: 20px;

    overflow: hidden;
    box-sizing: border-box;

    position: relative;

}

#countdown {

    width: 100%;

    color: black;
    text-align: center;

    border: none;

    position: relative;
    top: 23%;

}

#player {

    width: 32px;
    height: 32px;

    position: absolute;
    left: 47.5%;
    top: 45%;

    background-color: transparent;

    border: 1px solid black;
    border-radius: 50%;

}

#obstacles_counter {

    color: gray;
    text-align: center;

    background-color: white;

    border: 1px solid gray;
    border-radius: 15px;

    position: absolute;
    left: 25px;

    box-sizing: border-box;
    padding: 5px;

    z-index: 1;

}

.obstacle {

    width: 70px;
    height: 110%;

    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    top: -5%;

}


/* classes game objects */
.game_field__wrapper {

    margin: 0 auto;
    padding: 20px;

    height: 100vh;
    width: auto;

    box-sizing: border-box;

}


.obstacle_top,
.obstacle_bottom {

    width: 100%;

    border: 1px solid black;
    border-radius: 10px;

}


.js-game_field__expectation {

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: gray;

}

.js-game_field__play {

    /* flex-direction: row;
    justify-content: end; */

    background-color: white;

    cursor: pointer;

}


.game__name {

    margin: 20px auto 50px;

    font-weight: 300;
    color: white;

    text-align: center;

}

.game__name::after {

    content: '( copy )';
    display: block;

    position: relative;
    right: 0;

    font-size: .5em;

}



/* buttons game */
.button__start_game {

    margin: 20px auto;
    padding: 10px 30px;
    display: block;

    background-color: white;

    border: 1px solid black;
    border-radius: 10px;

    color: black;

    box-sizing: border-box;

    cursor: pointer;

}